.p-main-content-home{
  text-align: center;
}

.main-content-with-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 50px;
  grid-template-areas:
    ". ."
    ". .";
  text-align: center;
}

.p-content-left{
  grid-column-start: 1;
  padding-left: 10rem;
  padding-right: 5rem;
  padding-top: 5rem;
  margin-top: 5rem;
}

.p-content-right{
  grid-row-start: 2;
  grid-column-start: 2;
  padding-left: 5rem;
  padding-right: 10rem;
  padding-top: 5rem;
  margin-top: 5rem;
}

.wp-api-img{
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 9rem;
  margin-right: auto;
}

.api-img{
  margin-top: 5rem;
  height: 350px;
  width: 700px;
}

.wp-api-img-other{
  margin-bottom: 5rem;
}

.p-content-italic{
  font-style: italic;
}