.hero-banner-music{
  background-image: url("../images/music-svg.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 65% 35%;
}

.hero-banner-mma{
  background-image: url("../images/karate-svg.svg");
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 65% 35%;
}

.hero-banner-f1{
  background-image: url("../images/f1-svg.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 65% 35%;
}

//.hero-banner-home{
//  background-image: url("");
//}
//
//.hero-banner-contact{
//  background-image: url("");
//}

.hero-banner-java{
  background-image: url("../images/java-svg.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 67% 33%;
}

.hero-banner-symfony{
  background-image: url("../images/symfony-svg.svg");
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 73% 27%;
}