.contact-form{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.wpcf7-response-output{
  color: wheat;
  background-color: forestgreen;
  padding: 1rem 2rem 1rem 2rem!important;
  text-align: center;
}

.wpcf7-select{
  width: 457px;
}

.wpcf7-textarea{
  width: 457px;
}