.post-type-archive-projets,
.post-type-archive-passions{
  .p-list-left{
    grid-column-start: 1;
  }

  .p-list-right{
    grid-column-start: 2;
  }
}

.p-list{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}