.main-content-with-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 50px;
  grid-template-areas:
    ". ."
    ". .";
  text-align: center;
}

.main-content-with-grid-no-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
  grid-template-areas:
    ". .";
  text-align: center;
}