@import "./node_modules/bootstrap/scss/bootstrap";

@import "scss/commons/_variables";
@import "scss/commons/_header";
@import "scss/commons/_hero-banner";
@import "scss/commons/_dropdown-link-header";
@import "scss/commons/_footer";
@import "scss/commons/_fonts";
@import "scss/commons/_buttons";
@import "scss/commons/_ariane";

@import "scss/templates/_home";
@import "scss/templates/_contact";
@import "scss/templates/_list-archive";

@import "scss/blocks/_form-contact";
@import "scss/blocks/_list-articles";
@import "scss/blocks/_with-grid";




